@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
  --primary-color:#004C3F;
  --dark-grey:#9C8E85;
  --light-grey:#212326cc;
  --beige:#FBF7ED;
  --white:#fff;


}
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

/*global styles*/
Body{
  font-family: 'Roboto', sans-serif;
  


}
.container{
  width: 80%;
  margin:0 auto;
}
/*button*/

.btn{
  padding: 1em;
  margin-bottom: 5em;
  border:none;
}

.btn-green{
background-color:var(--primary-color);
color: var(--white);
margin-top: 5em;
padding: 1.2em;
border-radius: 5px;}








/*navigation styles*/
.navigation{
  display:flex;
  justify-content:space-between;
  align-items: center;
color:var(--dark-grey);

}
nav ul{
display:flex;
list-style-type: none;
align-items: center;

}
nav li{
  padding:0.5em;
}
/*hero-styles*/
.hero-flex{
display:flex;


}
.hero-right{
  width:70%;
}

.hero-left{
  font-size:0.5rem;
  color:var(--light-grey);
  padding:0.5em;
  width:30% ;
}
h1{font-size: 3rem;
  text-decoration: capitalize;
  color:#004C3F;
  margin-bottom: 0.5em;
}
.paragraph{
  display:block;
  text-decoration: capitalize;
  font-size:1.3rem;
margin-bottom: 0.5em;
}
.last{
  font-size: 0.90rem;

}
.email{
  background-color: #fff;
  padding: 1em;
  border-radius:5px;
  margin: none;
}
header{
color:#FBF7ED;
}
